<form>
    Rating: <input id="edit-rating" value="{{comment.rating}}" />
    Feedback: <input id="edit-feedback" value="{{comment.feedback}}" />
    <button class="update-comment" id="{{comment.id}}" type="submit">Update</button>
</form>

<script defer src="/js/comment.js"></script>