.comment__content {
    border: 2px solid #000000;
    border-radius: 3px;
    border-style:groove;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    --green: #018508;
    --green2: #00ad48;
    --color1: var(--green);
    --color2: var(--green2);
    --inline: 10px;
    --block: 0;
    --duration: 150ms;
    --padding: 4px;
    --border: 1px;
    --radius: 20px;
    box-shadow: inset 0 0 0 var(--border) grey;
    padding: var(--padding);
    border-radius: calc(var(--radius) + var(--padding));
    overflow: hidden;
    display: grid;
    margin-bottom: var(--gap);
    cursor: pointer;
}

.inside {
    background: rgb(25, 25, 252);
    z-index: 2;
    padding: 20px;
    border-radius: var(--radius);
}

.tail {
    transition: all var(--duration);
    width: var(--inline);
    height: var(--block);
    background: var(--color1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.tail.top {
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    height: var(--inline);
    width: var(--block);
    transition-delay: calc(var(--duration) * 2);
}

.tail.right {
    right: 0;
    left: unset;
    background: var(--color2);
    transition-delay: var(--duration);
}

.tail.bottom {
    height: var(--inline);
    width: var(--block);
    bottom: 0;
    right: 0;
    left: unset;
    top: unset;
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    transition-delay: 0ms;
}

.tail.left {
    bottom: 0;
    top: unset;
    transition-delay: calc(var(--duration) * 3);
}

.reviews:where(.start, :hover) .tail.top {
    transition-delay: var(--duration);
}
.reviews:where(.start, :hover) .tail.right {
    transition-delay: calc(var(--duration) * 2);
}
.reviews:where(.start, :hover) .tail.bottom {
    transition-delay: calcl(var(--duration) * 3);
}
.reviews:where(.start, :hover) .tail.left {
    transition-delay: 0ms;
}

.reviews {
    position: relative;
}

.snake.start .tail {
    --block: 0;
}
.snake:hover .tail {
    --block: 100%;
}
